html {box-sizing:border-box;}
*, *:after, *:before {box-sizing:inherit;}

body {
	background-image: url("../images/bg.jpg");
	background-size:cover;
	background-position: -437px 0;
	background-repeat: no-repeat;
	
}
#header{
	margin-left: 670px;

}
#header > div{
	display: inline-block;
	width: 44px;
	height: 37px;
	text-align: center;
	padding-top: 4px;

}
#subscribe{
	padding-right: 93px;

}
.icon {
	background-size: 35px;
	display: inline-block;	
	background-repeat: no-repeat;



}
.fa{
	font-size: 30px;
	opacity: 0.2;
    filter: alpha(opacity=50);
    justify-content: space-around;


}



#header > p{
   font-family: sans-serif;
   color: white;
   font-size: 14px;
   display: inline-block;
}



#container {
	width:1000px;
	margin:auto;
}
#nav {
	padding-left:0;
	display:flex;
	justify-content:space-between;

}
.navbutton:hover{
	background-color: white;
	color: black;
}
.navbutton{
	background-color: #B4272D;
    color: white;
    padding: 15px 37px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: sans-serif;
    border-bottom: 5px solid rgba(132,131,129,0.5);
}
#subheader{
	background-image: url("../images/top-image.png"); 
    height: 350px;
    width: 1000px;
    border: 10px solid white;
    background-size: 1500px;
    background-repeat: no-repeat;
    background-position: -200px -157px;



}
#subheader > img{
	margin: 50px 0 0 20px;
}


#header {
	width: 1000px;
}
#story{
    margin-top:15px;
    padding-top: 40px;
    justify-content: space-between;
    flex-wrap: nowrap;
    display: flex;
    width:100%;

}
.about{

	font-family: sans-serif;
	width: 326px;
	background-color: white;
	background-size: 300px 255px;;
    padding: 0 20px 0 20px;
    border-bottom: 5px solid rgba(132,131,129,0.5);

}
h3{
	font-size: 23px;

}
h5{
	color: red;
	text-align: center;
}
h5:hover{
	color: #ccc;
}


#box {
  text-align:center;
  width:1000px;
  margin:30px auto;

}

.item {
  background:#000;
  border:4px solid #fff;
  color:#FEFCFF;
  line-height:1;
  width:300px;
  height:200px;
  float:left;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 46px;
  font-weight: bold;
  font-family: sans-serif;
  padding-top: 60px;

  

}
.item:first-child {
	width: 325px;
	height:235px;
	background-image: url("../images/sk8er-4.png"); 
	
	background-position: -122px -10px;
	background-repeat: no-repeat;
}
.item:nth-child(2){
	width: 327px;
	height:235px;
	background-image: url("../images/sk8er-3.png"); 
	background-position: 0px -4px;
	background-repeat: no-repeat;
	margin-left: 10px;
}

.item:nth-child(3) {
	background-image: url("../images/sk8er-1.png"); 
    clear:left;
    height: 218px;
    width:660px;
    background-position: -3px -98px;
    background-repeat: no-repeat;
    margin-top: -19px;
}

 .item:nth-child(4) {
 	background-image: url("../images/sk8er-2.png"); 
   height:464px;
   width: 328px;
   line-height:47px;
   background-position: -397px 1px;
   background-repeat: no-repeat;
    margin: -265px 0 0 12px;

   
 }

#prefooter{
	display: flex;
	height: 291px;
    width: 1000px;
    border: 10px solid white;
    background-color: white;
    margin-top: 50px;
    justify-content:space-between;
    border-bottom: 5px solid rgba(132,131,129,0.5);
    }


#footer{
	display: inline-block;
	height: 372px;
    width: 1000px;
    border-bottom: 5px solid rgba(132,131,129,0.5);
    background-color: white;
    margin-top: 30px;

}

.contact > div{
	background-color: #7B7B7B;
	font-size: 14px;
	color: #ccc;


}
#footer > .icon{
	font-size: 3px;

}
#footer > .fa{
	font-size: 3px;
}
.contact {
	float: left;
	margin: 0 5px 5px 20px;
	width: 357px;
	height: 200px;

}
.contact > div{
	display: inline-block;
	width: 30px;
	height: 37px;
	text-align: center;
	padding-top: 4px;

}



.contact:nth-child(2){
	float: right;
	width: 433px;
	
}
input{
	width: 408px;
	height: 48px;
	margin-top: 20px;
	border-top: 5px solid #B2B2B2;
    border-left: 5px solid #B2B2B2;
    font-size: 18px;
}
textarea{
	width: 408px;
	height: 138px;
    margin: 20px 0 20px 0;
    border-top: 5px solid #B2B2B2;
    border-left: 5px solid #B2B2B2;
    font-size: 18px;
}

button {
	background-color: #B4292E;
	color: white;
	float: right;
	margin-right: 25px;
	width: 200px;
	height: 30px;
	border-style: none;
}
button:hover{
	color: black;
}

