html {box-sizing:border-box;}
*, *:after, *:before {box-sizing:inherit;}

body {
	background-image: url("../images/bg.jpg");
	background-size:cover;
}
#header{
	margin-left: 740px;

}
#subscribe{
	padding-right: 60px;
}
#header > div{
	background: blue;
	font-size: 37px;

}
#header > p{
   font-family: sans-serif;
   color: white;
   font-size: 14px;
   display: inline-block;
}



#container {
	width:1000px;
	margin:auto;
}
#nav {
	padding-left:0;
	display:flex;
	justify-content:space-between;
}
.navbutton:hover{
	background-color: white;
	color: black;
}
.navbutton{
	background-color: #B4272D;
    color: white;
    padding: 15px 37px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: sans-serif;
    border-bottom: 5px solid rgba(132,131,129,0.5);
}
#subheader{
	background-image: url("../images/top-image.png"); 
    height: 350px;
    width: 1000px;
    border: 10px solid white;
    background-size: 1500px;
    background-repeat: no-repeat;
    background-position: -200px -157px;


}
#subheader > img{
	margin: 50px 0 0 20px;
}


#header {
	width: 1000px;
}
#story{
    height: 300px;
    margin-top:15px;
    margin-right: 20px;
    padding-top: 40px;
    justify-content: space-between;
}
.about{
	display: inline-table;
	font-family: sans-serif;
	width: 300px;
	height: 300px;
	background-color: white;
	background-size: 300px 255px;;
    padding: 0 20px 0 20px;
    margin-right: 10px;

}
h3{
	font-size: 23px;

}
h5{
	color: red;
	text-align: center;
}
h5:hover{
	color: #ccc;
}

#contain {
  text-align:center;
  width:900px;
  margin:30px auto;
}

.skater {
  background:#000;
  border:1px solid #fff;
  color:#fff;
  line-height:200px;
  width:300px;
  height:200px;
  float:left;
}

.skater:nth-child(3) {
  clear:left;
  width:600px;
}

 .skater:nth-child(4) {
   height:400px;
   margin-top:-200px;
   line-height:400px;
 }

#prefooter{
	display: inline-block;
	height: 350px;
    width: 1000px;
    border: 10px solid white;
    background-color: white;

}
.board{
	display: inline-block;
}
#footer{
	display: inline-block;
	height: 350px;
    width: 1000px;
    border: 10px solid white;
    background-color: white;
    margin-top: 30px;
}
.contact{
	flex-direction: column;
}


